# Serverni almashtirmoqchi bo'lsang, shu qatorni o'zgartir
# .env nomli fayl yaratib, shu satrni ko'chirib qo'y (Vite avtomatik o'qiydi)
# VITE_API_URL=https://four0-mak-server-3.onrender.com
VITE_API_URL=http://localhost:5000
